.loader {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  &__circle {
    position: relative;

    display: inline-block;
    width: 80px;
    height: 80px;

    & div {
      position: absolute;

      display: block;
      width: 48px;
      height: 48px;
      margin: 8px;

      border: 4px solid #00bdd3;
      border-color: #00bdd3 transparent transparent transparent;
      border-radius: 50%;

      box-sizing: border-box;

      animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

      &:nth-child(1) {
        animation-delay: -0.45s;
      }

      &:nth-child(2) {
        animation-delay: -0.3s;
      }

      &:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
