.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  margin: 0 auto;
  padding: 4px 22px;

  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  background: #f4e041;
  border-radius: 80px;
  color: rgba(0, 0, 0, 0.87);
  border: none;
  outline: none;

  cursor: pointer;

  transition: background 0.4s ease;

  &:hover {
    background: #ffe302;

    transition: background 0.4s ease;
  }

  &:disabled {
    background: #b4b4b4;
    color: rgba(255, 255, 255, 0.87);

    cursor: not-allowed;
  }
}
