$mobile: 480px;

.form {
  max-width: 380px;
  margin: 50px auto 0;

  &__input-wrap {
    position: relative;

    margin-top: 50px;
  }

  .error input {
    border: 2px solid #cb3d40;
  }

  .error .form__error {
    display: block;
    position: absolute;
    bottom: -18px;
    left: 12px;

    font-size: 12px;
    line-height: 14px;

    color: #cb3d40;
  }

  &__input {
    display: block;
    width: 100%;
    height: 54px;
    border: 1px solid #d0cfcf;
    border-radius: 4px;
    padding: 14px 16px;
    outline: none;
    background: none;
    font-size: 16px;
    color: #7e7e7e;
    line-height: 26px;
  }

  &__error {
    display: none;
  }
}

@media screen and (max-width: $mobile) {
  .form {
    width: 100%;
    padding: 0 16px;
  }
}
