$mobile: 480px;

.users {
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px 0;
    padding: 0;
  }
}

@media screen and (max-width: $mobile) {
  .users {
    &__list {
      padding: 0 16px;
    }
  }
}
