$notebook: 1170px;
$tablet: 992px;
$mobile: 480px;

.users__item {
  width: 30%;
  margin: 0 0 30px;
  padding: 20px;

  text-align: center;
  text-overflow: ellipsis;

  background: #ffffff;
  border-radius: 10px;

  list-style: none;

  p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.users__img {
  border-radius: 50%;
}

.users__name {
  margin: 20px 0;
}

@media screen and (max-width: $notebook) {
  .users__item {
    width: 32%;
  }
}

@media screen and (max-width: $tablet) {
  .users__item {
    width: 49%;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: $mobile) {
  .users__item {
    width: 100%;
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
