.error .file {
  border: 2px solid #cb3d40;
}

.error .file__btn {
  top: -1.5px;

  border: 0;
  border-right: 2px solid #cb3d40;
}

.file {
  position: relative;

  display: block;
  width: 100%;
  height: 54px;
  margin-bottom: 50px;

  border: 1px solid #d0cfcf;
  border-radius: 4px;

  cursor: pointer;

  &__inp {
    display: none;
  }

  &__btn {
    position: absolute;
    top: -1px;
    left: -1px;

    display: block;
    max-width: 84px;
    height: 54px;
    padding: 13px 15px;

    border: 1px solid rgba(0, 0, 0, 0.87);
    border-radius: 4px 0px 0px 4px;
  }

  &__text {
    display: block;
    margin: 13px 0 0 100px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    color: #7e7e7e;
  }
}
