.radio__item {
  display: block;
  margin-bottom: 7px;

  &:last-of-type {
    margin-bottom: 0;
  }
  .radio__inp {
    position: absolute;
    z-index: -1;

    opacity: 0;

    &:checked + .radio__name:after {
      opacity: 1;

      transition: opacity 0.2s ease;
    }

    &:checked + .radio__name:before {
      border: 1px solid #00bdd3;

      transition: border 0.2s ease;
    }
  }

  .radio__name {
    position: relative;

    padding: 0 0 0 32px;

    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;

      width: 18px;
      height: 18px;

      border: 1px solid #d0cfcf;
      border-radius: 50%;

      transition: border 0.2s ease;
    }

    &:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      z-index: 1;

      width: 10px;
      height: 10px;

      border-radius: 50%;
      background: #00bdd3;
      opacity: 0;

      transition: opacity 0.2s ease;
    }
  }
}
