$tablet: 992px;
$mobile: 480px;

.header {
  margin-top: 60px;
  &__wrapper {
    padding: 164px 0;

    text-align: center;

    color: #ffffff;
  }

  &__wrap {
    max-width: 380px;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 20px;

    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
  }

  &__text {
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: $tablet) {
  .header {
    &__wrapper {
      padding: 90px 0;
    }
  }
}

@media screen and (max-width: $mobile) {
  .header {
    &__wrapper {
      padding: 40px 16px 70px;
    }
  }
}
