$notebook: 1170px;
$mobile: 480px;

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 13px 0;

  background-color: #ffffff;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: $notebook) {
  .nav {
    padding: 13px 32px;
  }
}

@media screen and (max-width: $mobile) {
  .nav {
    padding: 13px 16px;
  }
}
