* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', 'Tahoma', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  background-color: #f8f8f8;
  color: rgba(0, 0, 0, 0.87);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
